@import url (https://fonts.googleapis.com/css2?=family=Poppins:wght@200;400;600&display=swap") ;

{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body {
    font-family:"Poppins", sans-serif;
    background: linear-gradient(to right bottom,
    #ea2c62, #52057b) no repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .container {
        background-color: #52057b; 
        padding: 20px;
        border-radius: 5px;
        width: 370px;
    }
    h1 {
        font-size: 30px;
        color: #fff;
        text-align: center;
        margin-bottom: 10px;

    }

    

    
    .form-control{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;0;
        color: #fff;
        border bottom: 1px solid #eee;

    }

    .form-control{
        cursor: pointer;

    }
. p-header input 



    }